<h1><%= @idea.name %> created</h1>

<p>
 <H4>Description:</H4> 
 <%= @idea.description %>
</p>
<p>
 <H4>Problem:</H4> 
 <%= @idea.problem %>
</p>

<a href=<%= @idea_link%> target="_blank">Check Idea</a>